<template>
    <div>
        <div class="my-3 flex gap-3">
            <router-link :to="{ name: 'todo.create' }">
                <the-button variant="primary-outline">New task</the-button>
            </router-link>

        </div>
        <todo-list :todos="todos" @toggle-status="toggleStatus" />

        <div class="flex justify-center py-2">
            <loader-icon v-if="isLoading" />
        </div>
    </div>
</template>

<script>
import TodoList from "../../components/todo/TodoList.vue";
import api from "./../../api/api";
import LoaderIcon from "../../assets/icons/LoaderIcon.vue";

export default {
    components: { TodoList, LoaderIcon },
    data() {
        return {
            todos: [],
            isLoading: true,
        };
    },
    methods: {
        async loadTasks(isLoadMore = false) {
            this.isLoading = true;

            const url = `/api/task`;
            const data = await api.get(url);

            if (isLoadMore) {
                this.todos = [...this.todos, ...data.data];
            } else {
                this.todos = data.data;
            }

            this.isLoading = false;
        },
        async toggleStatus(id) {
            const url = `/api/task/${id}/toggle`;
            const data = await this.$axios.put(url);

            if (data.status === 200) {
                this.todos.map((todo) => {
                    if (todo.id !== id) {
                        return todo;
                    }

                    todo.status = data.data.status;

                    return todo;
                });
            }
        },
    },
    mounted() {
        this.loadTasks();
    },
};
</script>

<style lang="scss" scoped></style>
