<template>
    <the-title>Edit task</the-title>

    <main>
        <todo-form
            v-if="!isLoading"
            :isNewTodo="false"
            :title-prop="title"
            :description-prop="description"
            :status-prop="status"
            @submit-handler="submit"
        />
    </main>
</template>

<script>
import TodoForm from "../../components/todo/TodoForm.vue";
import TheTitle from "../../ui/TheTitle.vue";

export default {
    components: { TodoForm, TheTitle },
    data() {
        return {
            isLoading: true,
            id: this.$route.params.id,
            title: "",
            description: "",
            status: "",
        };
    },
    methods: {
        async loadTodo() {
            const url = "/api/task/" + this.id;
            const data = await this.$axios.get(url);

            if (data.status === 200) {
                this.title = data.data.title;
                this.description = data.data.description;
                this.status = data.data.status;
                this.isLoading = false;
            }
        },
        async submit(body) {
            const url = "/api/task/" + this.id;
            const data = await this.$axios.put(url, body);
            if (data.status === 200) {
                this.$router.push({ name: "todo.index" });
            }
        },
    },
    mounted() {
        this.loadTodo();
    },
};
</script>
